schema/sharedTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:nhi="http://www.nhi.nu/gml"  targetNamespace="http://www.nhi.nu/gml" elementFormDefault="qualified" version="1.0">
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
	<complexType name="FeatureCollectionType">
		<complexContent>
			<extension base="gml:AbstractFeatureCollectionType">
				<attribute name="hydamoVersion" type="nhi:nhiVersionSimpleType" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	<simpleType name="administratiefgebiedWaterschappenSimpleType">
		<restriction base="integer">
			<enumeration value="1"/><!--aa en maas-->
			<enumeration value="2"/><!--amstel gooi en vecht-->
			<enumeration value="3"/><!--brabantse delta-->
			<enumeration value="4"/><!--delfland-->
			<enumeration value="5"/><!--dommel-->
			<enumeration value="6"/><!--fryslan-->
			<enumeration value="7"/><!--hollands noorderkwartier-->
			<enumeration value="8"/><!--hollandse delta-->
			<enumeration value="9"/><!--hunze en aas-->
			<enumeration value="10"/> <!--noorderzijlvest-->
			<enumeration value="11"/> <!--limburg-->
			<enumeration value="12"/> <!--rijn en ijssel-->
			<enumeration value="13"/> <!--rijnland-->
			<enumeration value="14"/> <!--rivierenland-->
			<!-- <enumeration value="15"/> roer en overmaas vervallen-->
			<enumeration value="16"/> <!--schieland en krimpenerwaard-->
			<enumeration value="17"/> <!--stichtse rijnlanden-->
			<enumeration value="18"/> <!--zuiderzeeland-->
			<enumeration value="19"/> <!--scheldestromen-->
			<enumeration value="20"/> <!--vallei en veluwe-->
			<enumeration value="21"/> <!--vechtstromen-->
			<enumeration value="22"/> <!--drents overijsselse delta-->
			<enumeration value="30" /> <!--rijkswaterstaat -->
		</restriction>
	</simpleType>
	<simpleType name="administratiefgebiedSimpleType">
		<union memberTypes="nhi:administratiefgebiedWaterschappenSimpleType"/>
	</simpleType>
	<simpleType name="nhiVersionSimpleType">
		<restriction base="decimal">
			<enumeration value="12"/>
			<enumeration value="13"/>
		</restriction>
	</simpleType>
	<simpleType name="dateTimeSimpleType">
		<restriction base="string">
			<pattern value="\d\d\d\d\d\d\d\d\d\d\d\d\d\d"/>
		</restriction>
	</simpleType>
	<simpleType name="dayMonthSimpleType">
		<restriction base="string">
			<pattern value="\d\d\d\d"/>
		</restriction>
	</simpleType>
	<simpleType name="jaNeeSimpleType">
		<restriction base="integer">
			<enumeration value="1" /><!--ja-->
			<enumeration value="2"/><!--nee-->
			<enumeration value="3"/><!--nvt-->
		</restriction>
	</simpleType>
	<simpleType name="vormCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/><!--rond -->
			<enumeration value="2"/><!--driehoekig -->
			<enumeration value="3"/><!--rechthoekig -->
			<enumeration value="4"/><!--eivormig -->
			<enumeration value="5"/><!--ellipsvormig -->
			<enumeration value="6"/><!--paraboolvormig -->
			<enumeration value="7"/><!--trapeziumvormig-->
			<enumeration value="8"/><!--heulprofiel-->
			<enumeration value="9"/><!--muilprofiel-->
			<enumeration value="10"/><!--langwerpig-->
			<enumeration value="11"/><!--scherp-->
			<enumeration value="98"/><!--overig-->
			<enumeration value="99"/><!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="richtingSimpleType">
		<restriction base="integer">
			<enumeration value="1"/><!--positief, in stroomrichting-->
			<enumeration value="2"/><!--negatief, tegengesteld aan stroomrichting-->
		</restriction>
	</simpleType>
	<simpleType name="typeProfielCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--stuw-->
			<enumeration value="2"/> <!--bodemval-->
			<enumeration value="3"/> <!--brug-->
			<enumeration value="4"/> <!--waterloop-->
		</restriction>
	</simpleType>
	<simpleType name="typeKruisingCodeSimpleType">
		<restriction base="integer">
			<enumeration value="3"/> <!--duiker-->
			<enumeration value="4"/> <!--sifon-->
			<enumeration value="5"/> <!--hevel-->
			<enumeration value="6"/> <!--bypass-->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="statusObjectCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--planvorming-->
			<enumeration value="3"/> <!--gerealiseerd-->
			<enumeration value="4"/> <!--buiten bedrijf-->
			<enumeration value="5"/> <!--niet meer aanwezig-->
			<enumeration value="7"/> <!--te verwijderen-->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="ruwheidsTypeCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--chezy-->
			<enumeration value="2"/> <!--manning-->
			<enumeration value="3"/> <!--stricklerkn-->
			<enumeration value="4"/> <!--stricklerks-->
			<enumeration value="5"/> <!--white colebrook-->
			<enumeration value="6"/> <!--bos en bijkerk-->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="soortAfsluitmiddelCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--deur-->
			<enumeration value="2"/> <!--schotbalk sponning-->
			<enumeration value="3"/> <!--zandzakken-->
			<enumeration value="4"/> <!--schuif-->
			<enumeration value="5"/> <!--terugslagklep-->
			<enumeration value="6"/> <!--tolklep-->
      		<enumeration value="7"/> <!--stuwklep-->
			<enumeration value="97"/> <!--niet afsluitbaar-->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="soortRegelbaarheidCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--niet regelbaar (vast)-->
			<enumeration value="2"/> <!--regelbaar, niet automatisch-->
			<enumeration value="3"/> <!--regelbaar, automatisch-->
			<enumeration value="4"/> <!--handmatig-->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="soortGebiedCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--bemalingsgebied -->
			<enumeration value="2"/> <!--afvoergebied -->
			<enumeration value="3"/> <!--deelstroomgebied -->
			<enumeration value="4"/> <!--afwateringsgebied -->
			<enumeration value="5"/> <!--afwateringseenheid -->
			<enumeration value="6"/> <!--aanvoergebied -->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="typeHydraulischObjectCodeSimpleType">
		<restriction base="integer">
<!--			<enumeration value="0"/> &lt;!&ndash;vispassage&ndash;&gt;-->
			<enumeration value="1"/> <!--dood hout-->
			<enumeration value="2"/> <!--beverdam-->
<!--			<enumeration value="3"/> &lt;!&ndash;zandvang&ndash;&gt;-->
			<enumeration value="4"/> <!--watermolen-->
<!--			<enumeration value="5"/> &lt;!&ndash;overig&ndash;&gt;-->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="typeRandvoorwaardeCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--waterstand vaste waarde-->
			<enumeration value="2"/> <!--debiet vaste waarde-->
			<enumeration value="3"/> <!--qh-relatie-->
			<enumeration value="4"/> <!--waterstand variabel -->
			<enumeration value="5"/> <!--debiet variabel-->
			<enumeration value="6"/> <!--waterstand getijdebeweging-->
		</restriction>
	</simpleType>
	<simpleType name="sturingTypeCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--continue-->
			<enumeration value="2"/> <!--discreet-->
		</restriction>
	</simpleType>
	<simpleType name="prioriteitCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--hoog-->
			<enumeration value="2"/> <!--middel-->
			<enumeration value="3"/> <!--laag-->
			<enumeration value="4"/> <!--geen-->
		</restriction>
	</simpleType>
	<simpleType name="controllerTypeCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--interval-->
			<enumeration value="2"/> <!--PID-->
			<enumeration value="3"/> <!--hydraulic-->
			<enumeration value="4"/> <!--time-->
			<enumeration value="5"/> <!--nvt-->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="stuurvariabeleCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--bovenkant afsluitmiddel-->
			<enumeration value="2"/> <!--hoogte opening-->
			<enumeration value="3"/> <!--pompdebiet-->
			<enumeration value="4"/> <!--hydrologische randvoorwaarde-->
		</restriction>
	</simpleType>
	<simpleType name="soortStuwCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--schotbalkstuw-->
			<enumeration value="2"/> <!--stuw met schuif-->
			<enumeration value="3"/> <!--stuw met klep-->
			<enumeration value="4"/> <!--segmentstuw-->
			<enumeration value="5"/> <!--cascadestuw-->
			<enumeration value="6"/> <!--hevelstuw-->
			<enumeration value="7"/> <!--meetstuw-->
			<enumeration value="8"/> <!--meetschot-->
			<enumeration value="9"/> <!--stuw met contra-gewicht-->
			<enumeration value="10"/> <!--inlaat- en/of aflaatstuw-->
			<enumeration value="11"/> <!--overlaat-->
			<enumeration value="12"/> <!--drijverstuw-->
			<enumeration value="13"/> <!--trommelstuw-->
			<enumeration value="20"/> <!--gronddamstuw-->
			<enumeration value="21"/> <!--stuwbak-->
			<enumeration value="22"/> <!--tuimel- of kantelstuw-->
			<enumeration value="23"/> <!--balgstuw-->
			<enumeration value="24"/> <!--brievenbusstuw-->
			<enumeration value="25"/> <!--knijpstuw-->
			<enumeration value="26"/> <!--conserveringstuw-->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="soortStreefpeilCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--vast-->
			<enumeration value="2"/> <!--winter-->
			<enumeration value="3"/> <!--zomer-->
			<enumeration value="4"/> <!--dynamisch ondergrens-->
			<enumeration value="5"/> <!--dynamisch bovengrens-->
			<enumeration value="6"/> <!--dynamisch ondergrens zomer-->
			<enumeration value="8"/> <!--dynamisch bovengrens zomer-->
			<enumeration value="9"/> <!--dynamisch ondergrens winter-->
			<enumeration value="10"/> <!--dynamisch bovengrens winter-->
			<enumeration value="11"/> <!--schouw-->
<!--			<enumeration value="98"/> &lt;!&ndash;overig&ndash;&gt;-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="overlaatOnderlaatCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!-- overlaat -->
			<enumeration value="2" /><!-- onderlaat -->
			<enumeration value="3" /><!-- nvt -->
		</restriction>
	</simpleType>
	<simpleType name="doelvariabeleCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--waterstand-->
			<enumeration value="2"/> <!--debiet-->
			<enumeration value="3"/> <!--tijd-->
			<enumeration value="4"/> <!--vaste waarde-->
		</restriction>
	</simpleType>
	<simpleType name="eenheidCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/> <!--m+NAP-->
			<enumeration value="2"/> <!--m3/s-->
			<enumeration value="3"/> <!--datumTijd-->
		</restriction>
	</simpleType>
	<simpleType name="categorieOppervlaktewaterCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/><!-- primair -->
			<enumeration value="2"/><!-- secundair -->
			<enumeration value="3"/><!-- tertiair -->
			<enumeration value="98"/> <!--overig-->
			<enumeration value="99"/> <!--onbekend-->
		</restriction>
	</simpleType>
	<simpleType name="typeBodemCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/><!-- vaste bodem Z1 -->
			<enumeration value="2"/><!-- bovenkant slib Z2 -->
		</restriction>
	</simpleType>
	<simpleType name="soortProfielCodeSimpleType">
		<restriction base="integer">
			<enumeration value="1"/><!-- profiel oppervlaktewater -->
			<enumeration value="2"/><!-- geotechnisch profiel -->
			<enumeration value="3"/><!-- dwarsprofiel waterkering -->
			<enumeration value="4"/><!-- lengteprofiel waterkering -->
			<enumeration value="5"/><!-- dwarsprofiel oppervlaktewater -->
			<enumeration value="6"/><!-- lengteprofiel oppervlaktewater -->
			<enumeration value="7"/><!-- kruinprofiel stuw -->
			<enumeration value="8"/><!-- profiel brug -->
			<enumeration value="9"/><!-- dwarsprofiel bodemval -->
			<enumeration value="10"/><!-- profiel bergingsgebied -->
		</restriction>
	</simpleType>
	<group name="ruwheid">
		<sequence>
			<element name="typeRuwheid" type="nhi:ruwheidsTypeCodeSimpleType"/>
			<element name="ruwheid" type="decimal"/>
		</sequence>
	</group>
	<group name="ruwheidsbereik">
		<sequence>
			<element name="typeRuwheid" type="nhi:ruwheidsTypeCodeSimpleType"/>
			<element name="ruwheidLaag" type="decimal"/>
			<element name="ruwheidHoog" type="decimal"/>
		</sequence>
	</group>
	<group name="general">
		<sequence>
			<element name="code" type="string"/>
			<element name="statusObject" type="nhi:statusObjectCodeSimpleType" minOccurs="0"/>
			<element name="CREATED_DATE" type="dateTime" minOccurs="0"/>
			<element name="LAST_EDITED_DATE" type="dateTime" minOccurs="0"/>
			<element name="administratiefgebied" type="nhi:administratiefgebiedSimpleType"/>
		</sequence>
	</group>
	<group name="generalExtended">
		<sequence>
			<group ref="nhi:general"/>
			<element name="naam" type="string" minOccurs="0"/>
			<element name="hyperlink" type="string" minOccurs="0"/>
		</sequence>
	</group>
</schema>
